$clr-primary-1: #014e56;
$clr-primary-2: #f67e7e;
$clr-primary-3: #ffffff;
$clr-secondary-1: #79c8c7;
$clr-secondary-2: #2c6269;
$clr-secondary-3: #004047;
$clr-secondary-4: #012f34;
$clr-secondary-5: #002529;
